# MCP server configuration
MCP_TRANSPORT=http
MCP_PORT=4999
MCP_HOST=0.0.0.0

# API configuration
MCP_AUTH_TOKEN=<your_mcp_auth_token_here>
API_BASE_URL=<pk-central_api_base_url_here>
API_KEY=<your_pk-central_api_key_here>